<p>Congratulations <%= @passenger.name%>, You are registered
 for the flight #<%= @flight.id %> on TheOdinProject Airlines </p>

<p> Click <%= link_to 'here', booking_url(@booking) %> to see all the useful informations about your flight. </p>

<p> Bon voyage! </p>