<p>Congratulations <%= passenger.name%>, You are registered
 for the flight #<%= @booking.flight_id %> on TheOdinProject Airlines </p>

<p> Click <%= link_to 'here', flight_url(@booking.flight) %> to see all the useful informations about your flight. </p>

<p> Bon voyage! </p>